<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.growingrubies.vegpatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VegPatch">

        <activity
            android:name=".overview.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.VegPatch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addplant.AddPlantActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.VegPatch.NoActionBar">

        </activity>
        <activity
            android:name=".plantdetail.PlantDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.VegPatch.NoActionBar">

        </activity>
        <activity
            android:name=".weatherdetail.WeatherDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.VegPatch.NoActionBar">

        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.VegPatch.NoActionBar" >

        </activity>

        <meta-data
            android:name="apiKey"
            android:value="${API_KEY}"/>

    </application>

</manifest>